@media only screen and (max-width: 977px){
    .mainNav {
        display:none;
    }
    .mainNav ul{
        display:block;
    }
    .mainNav > ul li ul {
        display:block;
    }
    .has-submenu ul {
        position:relative;
    }
}

.displayBlock{
    display: block !important;
}